[submodule "tvb-documentation"]
	path = tvb-documentation
	url = https://github.com/the-virtual-brain/tvb-documentation.git
[submodule "tvb-framework"]
	path = tvb-framework
	url = https://github.com/the-virtual-brain/tvb-framework.git
[submodule "external-geodesic"]
	path = external-geodesic
	url = https://github.com/the-virtual-brain/tvb-geodesic.git
[submodule "tvb-library"]
	path = tvb-library
	url = https://github.com/the-virtual-brain/tvb-library.git
	branch = trunk
[submodule "tvb-data"]
	path = tvb-data
	url = https://github.com/the-virtual-brain/tvb-data.git
